.poke-card {
    background-color: #fff;
    border : 1px solid #fff;
    border-radius: 12ppx;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    font-size: 1.2rem;
    color: #444;
    font-weight: 600;
    text-decoration: none;
    
    &:hover{
        transform: translateY(-8px) scale(1.02);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}